$color-blue-400: #374c6f;
$color-blue-300: #3b44f6;
$color-blue-200: #767cf9;
$color-blue-100: #d8dafd;
$color-cyan-300: #00d7ff;
$color-cyan-200: #66e7ff;
$color-cyan-100: #ccf7ff;
$color-white: #ffffff;
$color-grey-25: #d1d1d1;
$color-grey-50: #f5f4f9;
$color-grey-100: #a0a0a0;
$color-grey-200: #7d7d7d;
$color-black-400: #0e0e0e;
$color-black-300: #181818;
$color-black-250: #2c2f33;
$color-black-200: #323232;
$color-black-100: #525252;
$color-pink-100: #fc326f;
$color-pink-50: #fc326f33;
