@import "../../../styles/global.scss";

.popular-games-section {
  margin-top: 84px;
  margin-bottom: 100px;

  .title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 24px;

    @media (max-width: 576px) {
      flex-direction: column;
      align-items: center;
    }

    .title {
      font-size: 36px;
      font-style: normal;
      font-weight: 600;
      line-height: 140%;
      color: $color-black-300;

      @media (max-width: 576px) {
        font-size: 30px;
      }
    }

    .browse-games {
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 150%;
      color: $color-blue-300;
      text-decoration: none;

      @media (max-width: 576px) {
        font-size: 16px;
      }
    }
  }

  .popular-games-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 10px;

    .game-card {
      width: unset;

      @media (max-width: 560px) {
        width: 100%;

        img {
          object-fit: cover;
          object-position: top;
        }
      }
    }
  }

  @media (max-width: 576px) {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
