@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600&family=Roboto:wght@400;500&display=swap");
@import "./styles/global.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lexend", sans-serif;
  background-color: $color-grey-50;
}
