@import "../../../styles/global.scss";

.header-section {
  margin-bottom: 70px;

  .swiper {
    height: 100vh;

    .banner1 {
      background: url("../../../assets/images/banner1.jpg");
    }
    .banner2 {
      background: url("../../../assets/images/banner2.jpg");
    }
    .banner3 {
      background: url("../../../assets/images/banner3.jpg");
    }

    .swiper-slide {
      background-size: cover;
      background-position: center;
    }

    .swiper-button-prev {
      height: 36px;
      width: 36px;
      border-radius: 50%;
      border: 1px solid rgba(255, 255, 255, 0.07);
      fill: rgba(255, 255, 255, 0.1);
      stroke-width: 1px;
      stroke: rgba(255, 255, 255, 0.07);
      backdrop-filter: blur(50px);

      &::after {
        color: $color-white;
        font-size: 20px;
        font-weight: bold;
      }

      @media (max-width: 576px) {
        display: none;
      }
    }

    .swiper-button-next {
      @extend .swiper-button-prev;
    }
  }

  .content {
    height: 100%;
    margin-left: 95px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .heading {
      font-size: 48px;
      font-style: normal;
      font-weight: 600;
      line-height: 148%;
      color: $color-white;
      margin-bottom: 17px;

      @media (max-width: 576px) {
        font-size: 33px;
        margin-bottom: 10px;
      }
    }
    .description {
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 140%;
      color: $color-white;
      max-width: 417px;
      margin-bottom: 64px;

      @media (max-width: 576px) {
        font-size: 16px;
        margin-bottom: 25px;
      }
    }

    .ant-btn {
      padding: 16px 32px;
      height: unset;
      width: 162px;

      @media (max-width: 576px) {
        padding: 10px 20px;
      }

      span {
        font-family: Lexend;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
      }
    }

    @media (max-width: 576px) {
      margin-left: 45px;
      margin-right: 45px;
    }
  }
}
